<tr>
  <% if @calculadora.present? %>
    <td>
      <%= tag :input, type: "datetime-local", name: "entradas[]", class:
              "calendario", value: params[:entradas][n] %>
    </td>
    <td>
      <%= tag :input, type: "datetime-local", name: "salidas[]", class:
              "calendario", value: params[:salidas][n] %>
    </td>
    <td>
      <%= @calculadora.extras(n) %>
    </td>
    <td>
      <%= @calculadora.horas_100(n) %>
    </td>
  <% else %>
    <td>
      <%= tag :input, type: "datetime-local", name: "entradas[]", class:
              "calendario" %>
    </td>
    <td>
      <%= tag :input, type: "datetime-local", name: "salidas[]", class:
              "calendario" %>
    </td>
  <% end %>
</tr>
